<div class="creationOAuth2Item">
	<div class="left bold">${name}</div>
	<button data-dojo-attach-point="itemDelete" class="close right" type="button">
		<i class="icon-remove"></i>
	</button>
	<br class="clear-both"/>
	<div class="serviceItemContentTop">
		<div class="block">Client Id: ${clientId}</div>
		<div class="block">Client Secret: ${clientSecret}</div>
		<div class="block">Auth Url: ${authUrl}</div>
		<div class="block">Token Url: ${tokenUrl}</div>
	</div>
	<div class="serviceItemContentBottom">
		<div class="block">Type: ${type}</div>
		<div class="block">Grant Type: ${grantType}</div>
		<div class="block">Authentication: ${authentication}</div>
	</div>
	<div class="serviceItemContentBottom">
		<div class="block">Override: ${override}</div>
		<div class="block">Auth Header: ${authHeader}</div>
		<div class="block">Url Param: ${urlParam}</div>
	</div>
</div>