<div class="creationServiceItem">
	<div class="itemTitle left">${name}</div>
	<!-- 
	<button data-dojo-attach-point="itemExpand" class="btn btn-warning btn-mini" type="button">
		<i class="icon-chevron-down"></i>
	</button> -->
	<button data-dojo-attach-point="itemDelete" class="close right" type="button">
		<i class="icon-remove"></i>
	</button>
	<br class="clear-both"/>
	
	<div class="block" data-dojo-attach-point="itemKey">Key: ${key}</div>
	<div class="block" data-dojo-attach-point="itemSecret">Secret: ${secret}</div>
	<div class="block" data-dojo-attach-point="keyType">Key Type: ${keyType}</div>
</div>