<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div id="creation-header" class="modal-header center">
		<button data-dojo-attach-point="creationExit" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Services</h3>
	</div>
	<div id="creation-body" class="modal-body">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li data-dojo-attach-point="servicesTab" class="tab active">
					<a href="#services">Services</a>
				</li>
				<li data-dojo-attach-point="newServiceTab" class="tab">
					<a href="#newservice">New Service</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" data-dojo-attach-point="servicesContent">
					<p>No existing services. Click 'New Service' to create a new service!</p>
				</div>
				<div class="tab-pane" data-dojo-attach-point="newServiceContent">
					<div>
						<select data-dojo-attach-point="serviceSelection">
							<option>OAuth</option>
							<option>OAuth2</option>
						</select>
					</div>
					<ul class="nav nav-pills inline-block">
						<li data-dojo-attach-point="generalPill" class="pill active inline hide">
							<a href="#general">General</a>
						</li>
						<li data-dojo-attach-point="advancedPill" class="pill inline hide">
							<a href="#advanced">Advanced</a>
						</li>
					</ul>
					<div class="pill-content">
						<div class="pill-pane active" data-dojo-attach-point="oAuthContent">
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Name</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceName" type="text" placeholder="Name">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Key</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceKey" type="text" placeholder="Key">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Secret</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceSecret" type="text" placeholder="Secret">
									</div>
								</div>
							</form>
						</div>
						<div class="pill-pane" data-dojo-attach-point="oAuth2GeneralContent">
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Name</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceName" type="text" placeholder="Name">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Endpoint</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceName" type="text" placeholder="Endpoint">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Key</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceKey" type="text" placeholder="Key">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Secret</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceSecret" type="text" placeholder="Secret">
									</div>
								</div>
							</form>
						</div>
						<div class="pill-pane" data-dojo-attach-point="oAuth2AdvancedContent">
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Type</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceName" type="text" value="confidential">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Grant Type</label>
									<div class="controls">
										<input data-dojo-attach-point="serviceName" type="text" value="code">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Allow override</label>
									<div class="controls">
										<label class="radio"> 
											<input type="radio" data-dojo-attach-point="serviceSecret" name="optionsRadios" checked> True
										</label> 
										<label class="radio"> 
											<input type="radio" name="optionsRadios"> False
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="center">
						<button data-dojo-attach-point="creationSubmit" id="creation-submit" class="btn btn-success">Create!</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>