<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div id="creation-header" class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Create New</h3>
	</div>
	
	<div id="creation-body" class="modal-body">
		<select id="creation-selection">
			<option>Gadget</option>
			<option>Embedded Experience</option>
		</select>
		<input class="creation" id="creation-title" type="text" placeholder="Title">
		<input class="creation" id="creation-author"type="text" placeholder="Author">
		<textarea class="creation" id="creation-description" rows="3" placeholder="Description"></textarea>
	</div>
	<div id="creation-footer" class="modal-footer">
		<button id="creation-submit" class="btn btn-success">Create!</button>
	</div>
</div>