<div class="navbar">
   	<div class="navbar-inner">
   		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
       	<a class="brand" href="#"></a>
       	<div class="nav-collapse collapse">
        	<ul class="nav editorNav">
           		<li><button data-dojo-attach-event="onclick: onRenderGadgetClick" id="renderBtn" class="btn">Render</button></li>
            	<li><button data-dojo-attach-event="onclick: onRenderEEClick" id="renderEEBtn" class="btn">Render EE</button></li>
       		</ul>
        </div>
    </div>
</div>