<ul class="dropdown-menu gadgetMenuDropDown" role="menu">
	<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="locationMenuItem" 
	data-dojo-props="name : 'Location', class: 'dropdown-submenu pull-left'">
		<ul class="dropdown-menu" role="menu">
			<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="sideMenuOption" data-dojo-props="name : 'Side'"></li>
			<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="bottomMenuOption" data-dojo-props="name : 'Bottom'"></li>
		</ul>
	</li>
	<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="preferencesMenuItem" data-dojo-props="name : 'Preferences'"></li>
	<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="viewsMenu" data-dojo-props="name : 'Views'"
	data-dojo-props="name : 'Selection', class: 'dropdown-submenu pull-left'"></li>
	<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="selectionMenu" 
	data-dojo-props="name : 'Selection', class: 'dropdown-submenu pull-left'">
		<ul class="dropdown-menu" role="menu">
			<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="personMenuOption" data-dojo-props="name : 'opensocial.Person'"></li>
			<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="fileMenuOption" data-dojo-props="name : 'opensocial.File'"></li>
			<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="messageMenuOption" data-dojo-props="name : 'opensocial.Message'"></li>
		</ul>
	</li>
	<li data-dojo-type="explorer/widgets/MenuItemWidget" data-dojo-attach-point="actionsMenu" 
	data-dojo-props="name : 'Actions', class: 'dropdown-submenu pull-left'">
	</li>
</ul>