<div class="navbar">
	<div class="navbar-inner">
	   	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    	<a class="brand" href="#">Gadget Title</a>
    	<div class="nav-collapse collapse">
        	<ul class="nav">
        	</ul>
        	<div class="navbar-form pull-right">
        		<div data-dojo-type="modules/widgets/gadgetarea/GadgetMenuButton" data-dojo-attach-point='gadgetMenuButton'></div>
        	</div>
        </div>
     </div>
     <div data-dojo-type="modules/widgets/gadgetarea/PreferencesDialog" data-dojo-attach-point='prefDialog'></div>
</div>