<div class="row-fluid">
	<div class="span2" id="spec-nav">
		<div data-dojo-attach-point="sidebarNav" data-dojo-type="explorer/widgets/sidebar/SidebarNav"></div>
	</div>
	<div class="span10" id="main">
		<div data-dojo-attach-point="editorArea" data-dojo-type="explorer/widgets/editorarea/EditorArea"></div>
		<div data-dojo-attach-point="gadgetArea" data-dojo-type="explorer/widgets/gadgetarea/GadgetArea"></div>
		<div class="clear"></div>
	</div>
	<div data-dojo-attach-point="loginModal" data-dojo-type="explorer/widgets/login/LoginDialog"></div>
	<div data-dojo-type="explorer/widgets/gadgetarea/PreferencesDialog" data-dojo-attach-point='prefDialog'></div>
</div>